/* Schedule
--------------------------------------------- */

.responsive-table-shortcode-wrap {
	th,
	tr td:first-child {
		background: $color-red;
	}
	
	tr td:first-child {
		color: #fff;
		width: 30%;
	}
	
	tr:nth-of-type(odd) {
		background: #fff;
	}
	
	td, th {
		padding: 0 0 0 10px;
	}
	
	th {
		border: none;
	}
}

/* News
--------------------------------------------- */



/* Contact
--------------------------------------------- */

.wpcf7 {
	.wpcf7-form {
		p {
			margin: 0 0 12px;
		}
		
		input {
			padding: 10px;
		}
	}
}