.sidebar {
	font-size: 16px;

	li {
		border-bottom: 1px dotted #ddd;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}

	p:last-child,
	ul > li:last-child {
		margin-bottom: 0;
	}

	.widget {
		background-color: $color-red;
		box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
		margin-bottom: 40px;
		padding: 40px 30px;
	}
	
	.featuredpost {
		.widgettitle {
			color: #fff;
			font-size: 30px;
		}
		
		.entry {
			border-bottom: 1px solid $color-red-dark;
			padding: 0;
			
			.entry-title a:hover {
				color: #fff;
			}
		}
	}
	
	a.more-link {
		color: #fff;
		
		&:hover {
			color: #000;
		}
	}
}
